default:
  storageProvider: minio # possible values aws, minio
  bucket: example-bucket-name
  useProfile: 
    enabled: false
    profile: example-profile
  accessKey: example-access-key
  secretKey: example-secret-key
  region: us-east-1
  backupDir: /tmp
  retention:
    enabled: true
    retentionPeriodDaily: 7 # days
    retentionPeriodWeekly: 4 # weeks
    retentionPeriodMonthly: 6 # months 
    
minio:
  secure: false
  s3Endpoint: 172.25.0.2:9000

# MongoDB config
mongo:
  enabled: false
  host: 127.0.0.1
  port: 27017
  dumpTool: mongodump
  databases:
    - first
    - second 
  auth:
    enabled: false
    authDatabase: admin
    username: example-username
    password: example-password

# MySQL config
mysql:
  enabled: true
  host: 127.0.0.1
  port: 3306
  dumpTool: mysqldump
  databases:
    - first
    - second 
  auth:
    enabled: true
    username: example-username
    password: example-password

# PostgreSQL config
postgresql:
  enabled: true
  host: 127.0.0.1
  port: 5432
  dumpTool: pg_dump
  databases:
    - first
    - second 
  auth:
    enabled: true
    username: example-username
    password: example-password

# Backup files
additional:
  enabled: true
  files:
    - /path/to/first/file
    - /path/to/second/file 
    # etc...